body{
    background: linear-gradient(to right, #4f46e5, #9333ea, #ec4899); /* Gradient from blue to pink */
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    /* Solid color for the thumb */
    border-radius: 10px;
    /* Padding around the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(61, 70, 90);
    /* Darker color when hovered */
    border-radius: 10px;
    /* Padding around the thumb */
  }